<style>
  .text-class {
    font-family: "OpenSans-Semibold";
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    color: #000;
    text-decoration: none;
  }
</style>
<div class="container text-class" style="margin-top: 70px; margin-left: 15%;width: 60%;">

  <div class="row" id="content" #content>

    <div class="col-sm-8 offset-sm-2">
      <h1>Edit Enquiry</h1>
      <div>
        <form role="form" #myForm="ngForm" accept-charset="UTF-8" novalidate>
          <div class="form-group center">
            <label for="id"><b>Terms and Condition</b></label>
            <div class="form-control"
                  [ngClass]="{ 'has-error': tcCkEditor.invalid && tcCkEditor.touched }">
              <ckeditor [(ngModel)]="termsCondition" 
                        #tcCkEditor="ngModel"
                        name="tcCkEditor"
                        required
                        [config]="ckeConfig" 
                        debounce="500" 
                        (paste)="onPaste($event)"
                        (change)="onChange($event)"
                        class="form-control"
                        aria-describedby="descHelp">
              </ckeditor>
              <div *ngIf="tcCkEditor.invalid && tcCkEditor.touched" class="help-block">Required field.</div>
            </div>
            </div>
            <br />
            <div class="form-group center">
              <label for="id"><b>About CC</b></label>
              <div class="form-control"
                  [ngClass]="{ 'has-error': pCkEditor.invalid && pCkEditor.touched }">
              <ckeditor [(ngModel)]="aboutCC" 
                        #pCkEditor="ngModel"
                        name="pCkEditor"
                        required
                        [config]="ckeConfig" 
                        debounce="500" 
                        (paste)="onPaste($event)"
                        (change)="onChange($event)"
                        class="form-control"
                        aria-describedby="descHelp">
              </ckeditor>
              <div *ngIf="pCkEditor.invalid && pCkEditor.touched" class="help-block">Required field.</div>
            </div>
            </div>
            <br>
            <div class="form-group center">
            <label for="id"><b>Acceptance by Principal</b></label>
            <div class="form-control"
                  [ngClass]="{ 'has-error': abpCkEditor.invalid && abpCkEditor.touched }">
              <ckeditor [(ngModel)]="acceptanceByPrincipal" 
                        #abpCkEditor="ngModel"
                        name="abpCkEditor"
                        required
                        [config]="ckeConfig" 
                        debounce="500" 
                        (paste)="onPaste($event)"
                        (change)="onChange($event)"
                        class="form-control"
                        aria-describedby="descHelp">
              </ckeditor>
              <div *ngIf="abpCkEditor.invalid && abpCkEditor.touched" class="help-block">Required field.</div>
            </div>
            <br>
            <div class="form-group has-feedback">
            <b>Service Description</b>
                <div *ngFor="let item of serviceDescriptionData; let i=index;">
                  <label for="serviceDescriptionData_{{i}}">
                    <input class="form-control" aria-describedby="descHelp" type="checkbox" [(ngModel)]="item.isSelected" name="serviceDescriptionData_{{i}}" value="{{item.value}}" (change)="isAllSelected()"/>
                            {{item.name}}</label>
                </div>

            </div>
            <div class="form-group has-feedback" 
                  [ngClass]="{ 'has-error': sdCkEditor.invalid && sdCkEditor.touched }">
              <ckeditor [(ngModel)]="serviceDescription" 
                        #sdCkEditor="ngModel"
                        name="sdCkEditor"
                        required
                        [config]="ckeConfig" 
                        debounce="500" 
                        (paste)="onPaste($event)"
                        (change)="onChange($event)"
                        class="form-control"
                        style="font-size: 10px;"
                        aria-describedby="descHelp">
              </ckeditor>
              <div *ngIf="sdCkEditor.invalid && sdCkEditor.touched" class="help-block">Required field.</div>
            </div>
            
            <!-- <input type="submit" value="Submit"> -->
            <button [disabled]="myForm.invalid" class="btn btn-primary">Save</button>
            <input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">  
          </div>
        </form>
      </div>
    </div>
  </div>
</div>